{%extends "home/base.html"%}
{% block content %}
<!--내용-->
<div class="row">
  {%for post in posts.all%}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm" style="border-radius: 10px">
      <a href="{% url 'detail' post.id %}"><img src="{{ post.image.url }}" height="300" width="100%"></img></a>
      <div class="card-body">
        <h3 class="card-text" style="text-align: center;"><a href="{% url 'detail' post.id%}">{{post.title}}</a>
          <p><small class="text-muted">{{post.brand}}</small></p>
          <a class="btn btn-outline-secondary" href="{% url 'order' %}" role="button">주문하기</a>
      </div>
    </div>
  </div>
  {%endfor%}
  {% endblock %}