{% extends "home/base.html"%}
{% block content %}
    <div style="align: center; color: black; background-color: #ff000;">
        <div style="align-text: left; margin-left: 370px; margin-top: -20px; margin-bottom: -5px;">
            <form action="{% url 'order_save' %}" style="font-size: 17px;"><br>
                <p>  주문상품(*) : 
                    <select name="product" style="margin-left: 10px;">
                        <option value="">상품을 선택하세요.</option>
                        <option value="a-5">좋은느낌(중형) : 7,500원 (22개입)</option>
                        <option value="a-10"> 좋은느낌(대형) : 12,000원 (32개입)</option>
                        <option value="a-20">좋은느낌(오버나이트) : 11,900원 (20개입)</option>
                        <option value="b-5">바디피트(중형) : 4,000원 (18개입)</option>
                        <option value="b-10">바디피트(대형) : 5,200원 (16개입)</option>
                        <option value="b-20">바디피트(오버나이트) : 8,900원 (20개입)</option>
                        <option value="c-5">화이트(중형) : 7,000원 (30개입)</option>
                        <option value="c-10">화이트(대형) : 5,500원 (17개입)</option>
                        <option value="c-20">화이트(오버나이트) : 11,010원 (28개입)</option>
                    </select></p><br>
                <p>  주문자명(*) : 
                    <input type="text" name="orderer" style="margin-left: 10px;"></p><br>
                <p>  수량(*) : 
                    <input type="number" name="postcode" style="margin-left: 10px;"></p><br>
                <p>  주소(*) : 
                    <input type="text" name="address" style="margin-left: 45px;"></p><br>
                <p>  우편변호(*) : 
                    <input type="tel" name="phone2" style="margin-left: 20px;"></p><br>
                <p>  전화번호(*) : 
                    <input type="tel" name="phone1" style="margin-left: 10px;"></p><br>
                <p>  이메일 : 
                    <input type="email" name="email" style="margin-left: 35px;"></p><br>
                <p>  배송메세지 : 
                    <textarea cols=40 rows=5 name="message"></textarea></p><br>
                <center><p style="margin-left: -370px;">* 표시는 필수 입력 항목입니다.</p></center>
                <center><input type = "submit" value="주문하기" class="btn btn-success text-center" style="margin-left: -370px; margin-top:10px; margin-bottom: 10px;"></input></center>
            </form>
        </div>
    </div>
{% endblock %}

{% comment %} {% extends "shop/base.html" %}

{% block content %}
    <div style="align: center; color: black; background-color: #9a7749;">
        <div style="margin-left: 400px; margin-top: -20px; margin-bottom: -5px;">
            <form method = "POST">
                {% csrf_token %}
                {{ form.as_p }}
                <center><input type = "submit" value="주문하기" class="btn btn-success text-center" style="margin-left: -400px; margin-top:10px; margin-bottom: 10px;"></input></center>
            </form>
        </div>
    </div>
{% endblock %} {% endcomment %}